body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: black;
  color: #fff;
}
.botom {
  margin: 0;
}
.left {
  padding-left: 40px;
}
@media only screen and (min-width: 768px) {
  /* For tablets: */
  body {
    background-color: green;
  }
}
@media only screen and (min-width: 987px) {
  /* For desktop: */
  body {
    background-color: pink;
  }
  .banner {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png?fbclid=IwAR1J9104mTY17q8069qakX1KK5kFxFN1wqUzgKbf6aXwSeVv-OU_ewEIugs);
    width: 100%;
    background-size: 100% 100%;
    height: 300px;
  }
}
.textbanner {
  padding-left: 40px;
  padding-top: 30px;
  color: #fff;
  font-size: small;
}
.textbanner p {
  top: 20px;
}
.textconten {
  margin-left: 40px;
  margin-top: 30px;
}
/* .container {
  width: 100%;
  margin-left: 30px;
  margin-right: 0px;
} */
.row {
  padding-left: 30px;
  width: 90%;
  margin-left: 30px;
  margin-right: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.row div {
  padding-left: 40px;
}
.row img {
  width: 90%;
  margin-top: 40px;
}

footer {
  width: 100%;
  margin-top: 30px;
  padding: 0;
}
footer div {
  width: 100%;
}
.end {
  color: aqua;
}
